.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/aws/5.8.0/darwin_amd64/terraform-provider-aws_v5.8.0_x5
terraform.tfstate
terraform.tfstate.backup
.pluralith/pluralith.cache.json
.pluralith/pluralith.plan.bin
.pluralith/pluralith.state.json
secret_vars.tf